<!DOCTYPE html>
<html>
    <head>
        <title>Create Tamagotchi</title>
    </head>
    <body>
        @using Tamagotchi.Models;
        <div>
            <form action="/tamagotchi" method="post">
                <label for="tamaName">Tamagotchi Name</label>
                <input id="tamaName" name="tamaName" type=" text">
                <button type="submit">Add!</button>
            </form>
        </div>

    </body>
</html>